.container {
    position: relative;
    width: 100%;
    max-width: 1200px; /* Phù hợp với màn hình web */
    margin: 0 auto;
}

.background {
    width: 100%;
    height: auto;
}
.header {
    height: 150px; /* Chiều cao của header */
    /* Thêm các kiểu dáng và căn chỉnh cho header tại đây */
}
.changepassword {
    position: absolute;
    width: 70%; /* Phù hợp với màn hình web */
    max-width: 500px; /* Giới hạn kích thước */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background: #FFFFFF;
    border-radius: 7px;
}

.changepassword-text {
    /* Change your password */
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.oldpassword, .newpassword, .repassword {
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.button-changepassword {    
    width: 100%;
    height: 50px;
    font-size: 18px;
    background: #7FD1EB;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
